@using WealthWise_RCD.Models
@model List<WealthWise_RCD.Models.DatabaseModels.Blog>

<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
</head>
<!-- Back button -->
<a asp-area="Advisor" asp-controller="LearningHub" asp-action="TipsAndTricks">
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #828282;"></i>
</a>

<div class="container mt-5">
    <!-- Title and tag line of learning hub -->
    <div class="text-center">
        <h1 class="display-4" style="text-align: center">Tips: Credit Cards</h1>
        <p class="lead text-muted">Learn how to make the most of your money!</p>
    </div>
</div>
