<!-- Sidebar -->
<div class="sidebar">
    <a href="@Url.Action("Index", "Account")"> Profile</a>
    <a href="@Url.Action("Index", "Account")"> Appointments</a>
    <a href="@Url.Action("Index", "Account")"> Subscription</a>
    <a href="@Url.Action("Index", "Account")"> Saved Payment Methods</a>
</div>

