@using WealthWise_RCD.Models
@{

}

<div class="text-center">
    <h1 class="display-4" style="text-align: center">Log out?</h1>
    <p class="lead text-muted">Am I not enough for you?</p>
</div>
<div class="text-center">
    <img src="~/images/Logout.jpeg" alt="LogOut" style="width: 45%; height: 45%" />
</div>