@using WealthWise_RCD.Models;
@model List<SidebarLink>
<!-- Sidebar -->
<div class="sidebar">
    @foreach (var link in Model)
    {
        <a href="#" onclick="loadPartial('@link.Url')">
            @link.Title
        </a>
    }
</div>