@*
    Yes this has to be separate from the edit payment method because of the types
    you would think they get to be the same but NoOo they don't because people are dumb
*@
@using WealthWise_RCD.Models.DatabaseModels;
@model Payment

<div class="container mt-5">
    <h2>Add Payment Method</h2>
    <form asp-action="AddPaymentMethod" method="post">
        <div>
            <label asp-for="Type"></label>
            <select asp-for="Type" asp-items="Html.GetEnumSelectList<PaymentType>()" class="form-control" id="paymentType" onchange="togglePaymentFields()">
            </select>
        </div>
        <div id="creditCardFields" class="mb-3" style="display:@(Model.Type == PaymentType.CreditCard ? "block" : "none")">
            <div class="form-floating mb-3">
                <input asp-for="CardholderName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="CardholderName">Email</label>
                <span asp-validation-for="CardholderName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CardNumber" class="form-label">Card Number</label>
                <input asp-for="CardNumber" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="ExpDate" class="form-label">Expiration Date</label>
                <input asp-for="ExpDate" class="form-control" />
            </div>
        </div>
        <div id="paypalFields" class="mb-3" style="display:@(Model.Type == PaymentType.PayPal ? "block" : "none")">
            <div class="mb-3">
                <label asp-for="AccountName" class="form-label">Account Name</label>
                <input asp-for="AccountName" class="form-control" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        togglePaymentFields();
    });

    function togglePaymentFields() {
        var paymentType = document.getElementById("paymentType").value;
        var creditCardFields = document.getElementById("creditCardFields");
        var paypalFields = document.getElementById("paypalFields");

        if (paymentType === "0") // enumeration of CreditCard
        {
            creditCardFields.style.display = "block";
            paypalFields.style.display = "none";
        }
        else if (paymentType === "1") // enumeration of PayPal
        {
            creditCardFields.style.display = "none";
            paypalFields.style.display = "block";
        }
    }
</script>



<style>
    #creditCardFields,
    #paypalFields {
        display: none;
    }
</style>
