<head>
    <title>Subscription Plans</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-100 font-sans">
    <div class="container mt-5">
        <!-- Title and tag line of learning hub -->
        <div class="text-center" style="margin-bottom: 35px;">
            <h1 class="display-4">Subscription</h1>
            <p class="lead text-muted">Choose the plan that suits you best!</p>
        </div>
        <div class="d-grid gap-5 d-md-flex justify-content-md-center" style="text-align:center">
            <!-- Subscription Plans -->
            <div class="card mb-4 shadow-sm" style="width:33%; height: 250px;">
                <div class="card-body" style="align-content: center; justify-content:center;">
                    <h2 class="card-title fw-bold" style="color: #3f3f2f">Free Subscription</h2>
                    <h3 class="card-text" style="color: #64644f">$0 / month</h3>
                    <button type="submit" class="btn btn-sm">Select this subscription</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm" style="width:33%; height: 250px">
                <div class="card-body" style="align-content: center; justify-content:center;">
                    <h2 class="card-title fw-bold" style="color: #3f3f2f">Basic Subscription</h2>
                    <h3 class="card-text" style="color: #64644f">$20 / month</h3>
                    <button type="submit" class="btn btn-sm">Select this subscription</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm" style="width:33%; height: 250px">
                <div class="card-body" style="align-content: center; justify-content:center;">
                    <h2 class="card-title fw-bold" style="color: #3f3f2f">Premium Subscription</h2>
                    <h3 class="card-text" style="color: #64644f">$50 / month</h3>
                    <button type="submit" class="btn btn-sm">Select this subscription</button>
                </div>
            </div>
        </div>
    </div>
</body>

