html {
  font-size: 14px;
  font-family: 'Times New Roman';
}

.maroon-on-hover {
    text-decoration: none;
}

    .maroon-on-hover:hover {
        text-decoration: underline;
        -webkit-text-fill-color: #673636;
        transition: all .25s ease-in-out;
    }

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: 'Times New Roman';
  }
}

body {
    background-color: #f1eee8; /* light beige */
}

.btn {
    background-color: #adad85; /* olive green */
    border-color: #7a7a52; /* darker darker olive green */
    color: #FFFFFF; /* white text */
}

    .btn:hover {
        background-color: #8a8a5c; /* darker olive green */
        border-color: #7a7a52; /* darker darker olive green */
        color: #FFFFFF; /* white text */
    }

    .btn:active {
        background-color: #8a8a5c; /* darker olive green */
        border-color: #7a7a52; /* darker darker olive green */
        color: #FFFFFF; /* white text */
        box-shadow: 0 0 0 0.2rem #adad85;
    }

    .btn:focus {
        background-color: #8a8a5c; /* darker olive green */
        border-color: #7a7a52; /* darker darker olive green */
        color: #FFFFFF; /* white text */
        box-shadow:0 0 0 0.2rem #adad85;
    }


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Times New Roman';
}

h1 {
    font-family: 'Times New Roman';
}

h2 {
    margin-top: 30px;
    font-family: 'Times New Roman';
}

h3 {
    font-family: 'Times New Roman';
}

.nav-tabs, .nav-link {
    color: #7a7a52; /* olive green */
    font-size: 20px; /* Larger font size */
    border-color: transparent;
}
    .navbar-nav:hover, .nav-link:hover {
        color: #673636; /* olive green */
        border-color: transparent; /* olive green */
    }
    .navbar-nav .nav-link.active {
        font-weight: bold;
        color: #adad85 !important;
        border-color: transparent;
    }

.nav-tabs .nav-link.active {
    -webkit-text-fill-color: #7a7a52; /* olive green */
    background-color: transparent;
    border-color: #adad85 transparent !important; /* olive green */
}

a {
    text-decoration: none !important; /* Removes underline */
    color: inherit; /* Inherits the text color from parent */
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: var(--navbar-height, 60px); /* Automatically adjust below the topbar */
    bottom: var(--footer-height, 60px);
    left: 0;
    width: 500px;
    height: calc(100vh - var(--navbar-height, 60px) - var(--footer-height, 60px)); /* Adjust height dynamically */
    background: #bab1a1;
    color: #fff;
    padding: 0px;
    z-index: 1020;
    overflow-y: auto;
}

/* Sidebar links */
    .sidebar a {
        display: block;
        color: #e4e4e4;
        padding: 35px 15px;
        text-decoration: none;
        font-size: 35px; /* Larger font size */
    }

.sidebar a:hover {
    background: #adad85;
    color: white;
}

/* Content wrapper */
.content-wrapper {
    margin-left: 250px;  
    margin-top: var(--navbar-height, 60px);  /* Prevent overlap */
    padding: 20px;
    transition: margin-left 0.3s;
}