html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn {
    background-color: #adad85; /* olive green */
    border-color: #7a7a52; /* gold */
    color: #FFFFFF; /* white text */
}

    .btn:hover {
        background-color: #8a8a5c; /* darker olive green */
        border-color: #7a7a52; /* gold */
        color: #FFFFFF; /* white text */
    }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h2 {
    margin-top: 30px;
}

.nav-tabs .nav-link {
    color: #7a7a52; /* olive green */
}