@model WealthWise_RCD.Models.DatabaseModels.Blog
@{

}
<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
</head>

<body> 
    <!-- Back Button -->
    <a asp-area="User" asp-controller="LearningHub" asp-action="BlogPosts">
        <i class="fa-solid fa-arrow-left fa-xl" style="color: #828282;" alt="Return to Blog List"></i>
    </a>

    <!-- Single Blog Content -->
    <div class="container flex-column justify-content-between align-items-center mb-5 px-5" id="blog-content">
        <h1 style="margin-top: 15px;">@Model.Title</h1>
        <p class="text-muted">Author: Advisor Name | Published: @Model.PublicationDate</p>
        <hr />
        <p>@Html.Raw(Model.Content)</p>
        <hr />
        <!-- Reccomend, Save, Share -->
        <i class="fa-solid fa-heart fa-xl" style="color: #828282; margin: 20px; margin-left: 0px;" alt="Reccomend"></i>
        <i class="fa-solid fa-bookmark fa-xl" style="color: #828282; margin: 20px" alt="Save"></i>
        <i class="fa-solid fa-share fa-xl" style="color: #828282; margin: 20px" alt="Share"></i>
    </div>

</body> 

<style>
    #blog-content {
        background: white;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
    }
</style>