@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
</head>

<!-- Back Button -->
<a asp-area="User" asp-controller="LearningHub" asp-action="Index">
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #828282;" alt="Return to Learning Hub"></i>
</a>

<div class="text-center">
    <h1 class="display-4" style="text-align: center">Learning Hub: Blog Posts</h1>
    <p class="lead text-muted">Explore Advisor Posts!</p>
</div>