@using WealthWise_RCD.Models
@{

}
<!-- Link for the font awesome library -->


<div class="container mt-5">
    <!-- Title and tag line of learning hub -->
    <div class="text-center">
        <h1 class="display-4">Learning Hub</h1>
        <p class="lead text-muted">Expand Your Knowledge!</p>
    </div>
</div>


<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
    <!--Get your code at fontawesome.com-->
</head>
<body>

    <i class="fas fa-band-aid"></i>
    <i class="fas fa-cat"></i>
    <i class="fas fa-dragon"></i>
    <i class="far fa-clock"></i>
    <i class="fas fa-clock"></i>

</body>

