@page
@model LoginModel
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/loginPage.css" asp-append-version="true" />
</head>

<div class="container" id="container">
    <div class="form-container user-container">
        <form method="post" asp-page="./Login" class="common">
            <h1 style="color: #3f3f2f">Log In</h1>
            @await Html.PartialAsync("_LoginFormPartial", Model, new ViewDataDictionary(ViewData) { { "Role", "user" } })
        </form>
    </div>
    <div class="form-container advisor-container">
        <form method="post" asp-page="./Login" class="common">
            <h1 style="color: #3f3f2f">Log In</h1>
            @await Html.PartialAsync("_LoginFormPartial", Model, new ViewDataDictionary(ViewData) { { "Role", "advisor" } })
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 style="margin-bottom: 4px">Welcome Back, User!</h1>
                <p style ="margin-top: 0px; border-top: 0px;">Sign in here to continue the learning journey!</p>
                <button class="ghost" id="userSignIn" style="margin-top: 117.5px;">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 style="margin-bottom: 4px">Hello, Advisor!</h1>
                <p style="margin-top: 0px; border-top: 0px;">Sign in here to advise your clients!</p>
                <button class="ghost" id="advisorSignIn" style="margin-top: 117.5px;">Sign In</button>
            </div>
        </div>
    </div>
</div>

<script>
    const userSignIn = document.getElementById('userSignIn');
    const advisorSignIn = document.getElementById('advisorSignIn');
    const container = document.getElementById('container');

    userSignIn.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });

    advisorSignIn.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

</script>

