@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <div class="text-center">
        <h1 class="display-4" style="text-align: center">Log out...</h1>
        <p class="lead text-muted">Am I not enough for you?</p>
    </div>
    <div class="text-center">
        <img src="~/images/Logout.jpeg" alt="LogOut" style="width: 45%; height: 45%" />
    </div>
    @* <h1>@ViewData["Title"]</h1> *@
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
