@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@using WealthWise_RCD.Models.DatabaseModels;
@{
    // use the nav bar from the shared layout
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- Header -->
<div class="text-center">
    <h1 class="display-4" style="text-align: center">Register for an Account</h1>
    <p class="lead text-muted">Start your financial journey here!</p>
</div>

<div>
    <div class="align-content-center" style="align-items: center; margin-top: 15px;">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div>
                <h2 class="card-header">Account Information</h2>
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            
                </br>

                <!-- Custom Attributes -->
                <h2 class="card-header">Personal Information</h2>
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.FirstName" class="form-control" autocomplete="first-name" aria-required="true" placeholder="firstname" />
                            <label asp-for="Input.FirstName">First Name</label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.LastName" class="form-control" autocomplete="last-name" aria-required="true" placeholder="lastname" />
                            <label asp-for="Input.LastName">Last Name</label>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Age" class="form-control" autocomplete="age" aria-required="true" placeholder="age" />
                            <label asp-for="Input.Age">Age</label>
                            <span asp-validation-for="Input.Age" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Gender"></label>
                            <select asp-for="Input.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                                <option value="">Select Gender</option>
                            </select>
                            <span asp-validation-for="Input.Gender" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </br>

            <!-- Address -->
            <h2 class="card-header">Address Information</h2>
            <div class="card">
                <div class="card-body">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.StreetName" class="form-control" autocomplete="street-name" aria-required="true" placeholder="100mainst" />
                        <label asp-for="Input.StreetName">Line 1</label>
                        <span asp-validation-for="Input.StreetName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.SecondLine" class="form-control" autocomplete="line-two" aria-required="false" placeholder="apt1" />
                        <label asp-for="Input.SecondLine">Line 2</label>
                        <span asp-validation-for="Input.SecondLine" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.City" class="form-control" autocomplete="city" aria-required="true" placeholder="city" />
                        <label asp-for="Input.City">City</label>
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-bottom: 2.5%">
                        <label asp-for="Input.State"></label>
                        <select asp-for="Input.State" asp-items="Html.GetEnumSelectList<AddressState>()" class="form-control">
                            <option value="">Select State</option>
                        </select>
                        <span asp-validation-for="Input.State" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Zipcode" class="form-control" autocomplete="zipcod" aria-required="true" placeholder="zipcode" />
                        <label asp-for="Input.Zipcode">Zipcode</label>
                        <span asp-validation-for="Input.Zipcode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            </div>

            </br>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="align-self: center">Register</button>
            <div style="text-align: center; margin-top: 10px;">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="maroon-on-hover">Sign in as an existing user.</a>
            </div>


        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    body {
        background: #f6f5f7;
        background-color: #f1eee8;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Times New Roman';
        margin: -20px 0 50px;
    }

    .card {
        width: 60%;
        margin: 20px auto; /* Centers the card */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: 0px;
        margin-top: 0px;
    }

    .card-header {
        width: 60%;
        margin: 20px auto; /* Centers the card */
        background-color: #e6e2d8;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 0px;
        margin-bottom: 0px;
    }

    .card-header:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .card-body {
        padding-top: 0px;
        padding: 20px;
    }

    #registerSubmit {
        width: 50%; /* Makes the button half the size of the card */
        max-width: 300px; /* Prevents it from getting too large */
        display: block;
        margin: 20px auto; /* Centers the button */
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        text-align: center;
    }
</style>
