@using WealthWise_RCD.Models
@{
}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Scheduler</h1>
        <p class="lead text-muted">Schedule appointments with Users or Advisors</p>
    </div>
</div> 

<div>
    <p>Name: </p>
    <p>Current Advisor: </p>
    <p>Upcoming Appointments: </p>
</div>

<form method="=post">
    <div class="form-group">
        <label for="Change Advisor">Change Advisor</label>
        <div class="position-relative">
            <input type="search" class="form-control" id="changeAdvisor" name="ChangeAdvisor" placeholder="Enter Advisor Name">
        </div> 
    </div>
</form>