@using WealthWise_RCD.Models
@{
    var errorMessage = ViewData["ErrorMessage"]?.ToString() ?? null;
	var currentBudget = ViewData["CurrentBudget"]?.ToString() ?? null;
}

<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
</head>

<!-- Back Button -->
<a asp-area="User" asp-controller="FinancialCalcs" asp-action="Index">
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #828282;"></i>
</a>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4" style="text-align: center">Monthly Budget Planner</h1>
        <p class="lead text-muted">Update your monthly budget!</p>
    </div>

    <form method="post">
        <div class="form-group">
            <label for="expense">Add an Expense:</label>
            <div class="position-relative">
                <input type="number" class="form-control money-input-expense" id="expense" name="Expense" placeholder="Enter an Expense" step="0.01">
                <span class="dollar-sign-expense">$</span>
            </div>
        </div>
        <div class="form-group">
            <label for="income">Add Income:</label>
            <div class="position-relative">
                <input type="number" class="form-control money-input-income" id="income" name="Income" placeholder="Enter an Income" step=".01">
                <span class="dollar-sign-income">$</span>
            </div>
        </div>
        <div class="form-group">
            <label for="saving">Add Savings:</label>
            <div class="position-relative">
                <input type="number" class="form-control money-input-savings" id="saving" name="Savings" placeholder="Enter a Saving" step=".01">
                <span class="dollar-sign-savings">$</span>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Calculate</button>
        @if (@errorMessage != null)
        {
            <div class="alert alert-info mt-3" id="calculatedAmountBox">
                <strong>@errorMessage</strong>
            </div>
        }
        @if (currentBudget != null)
        {
            <div class="alert alert-info mt-3" id="calculatedAmountBox">
                <strong>@currentBudget</strong>
            </div>
        }
    </form>
    <form asp-action="CreateNewBudget" asp-controller="FinancialCalcs" method="post" class="d-inline">
        <button type="submit" class="btn btn-secondary"> Create new monthly budget </button>
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#myTab a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            const expenseInputField = document.querySelector(".money-input-expense");
            const expenseDollarSign = document.querySelector(".dollar-sign-expense");

            expenseInputField.addEventListener("input", function() {
                if (expenseInputField.value.trim() !== "")
                {
                    expenseDollarSign.style.opacity = "1";
                    expenseInputField.style.paddingLeft = "20px";
                }
                else
                {
                    expenseDollarSign.style.opacity = "0";
                    expenseInputField.style.paddingLeft = "10px";
                }
            });

            const incomeInputField = document.querySelector(".money-input-income");
            const incomeDollarSign = document.querySelector(".dollar-sign-income");

            incomeInputField.addEventListener("input", function() {
                if (incomeInputField.value.trim() !== "") {
                    incomeDollarSign.style.opacity = "1";
                    incomeInputField.style.paddingLeft = "20px";
                } else {
                    incomeDollarSign.style.opacity = "0";
                    incomeInputField.style.paddingLeft = "10px";
                }
            });

            const savingsInputField = document.querySelector(".money-input-savings");
            const savingsDollarSign = document.querySelector(".dollar-sign-savings");

            savingsInputField.addEventListener("input", function() {
                if (savingsInputField.value.trim() !== "") {
                    savingsDollarSign.style.opacity = "1";
                    savingsInputField.style.paddingLeft = "20px";
                } else {
                    savingsDollarSign.style.opacity = "0";
                    savingsInputField.style.paddingLeft = "10px";
                }
            });
        });
    </script>
}

<style>
    #calculatedAmountBox {
        background-color: white;
        border-color: lightgrey;
        -webkit-text-fill-color: #8a8a5c;
        text-align: left;
        padding: 10px;
    }

    .link-box 
    {
        display: inline-block;
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        margin: 20px;
        background-color: white;
    }

    .icon-box 
    {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .name-box 
    {
        margin-top: 30px;
        font-size: 18px;
        font-weight: bold;
        color: #7a7a52;
    }

    .position-relative {
        position: relative;
    }

    .dollar-sign-expense  {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        color: lightgray;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }

    .money-input-expense {
        padding-left: 10px;
    }

    .dollar-sign-income {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        color: lightgray;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }

    .money-input-income {
        padding-left: 10px;
    }

    .dollar-sign-savings {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        color: lightgray;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }

    .money-input-savings {
        padding-left: 10px;
    }
</style>

